bin/*

irssi/fnotify

mutt/user
mutt/cache
mutt/certificates

newsbeuter/cache.*
newsbeuter/history.*

pentadactyl/info

ssh/id_rsa*
ssh/known_hosts
ssh/authorized_keys
ssh/psg

vim/bundle/*
vim/plugged/*
vim/local_settings.vim
vim/netrwhist

zsh/functions.local

.DS_Store
